html, body {
	margin: 0 auto;
	padding: 1em;
	width: 75%;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex; 
	flex-direction: column;
	justify-content: space-evenly;
    font-family: papyrus;
}
div {
	padding: 1em;
	margin: .5em;
}
a {
	color: inherit;
	text-decoration: underline;
	font-size: larger;
}
a:hover {
	color: inherit;
	background: #ddd;
	text-decoration: none;
	border-radius: 90%;
}
