{% extends "base.html" %}

{% block title %} {{event.eventname}} - {{ super() }} {% endblock %}

{% block body %}

	{% if event == [] %}
		<h4>Event Not Found. This shouldn't happen</h4>
	{% else %}
		<h2>{{event.eventname}}</h2>
		
		<h3>Event Date: {{event.date.strftime('%d %B, %y')}}</h3>
		<br/>
		
		Client: {{ getName(event.client) }}
			
		{% if event.staff1 == None and event.staff2 == None and event.staff3 == None %}
			<h6>No staff scheduled</h6>
		{% else %}
		
		<ul>
			{% if event.staff1 != None %}
				<li>{{event.staff1}} -- {{getName(event.staff1)}}</li>
			{% endif %}
			{% if event.staff2 != None %}
				<li>{{event.staff2}} -- {{getName(event.staff2)}}</li>
			{% endif %}
			{% if event.staff3 != None %}
				<li>{{event.staff3}} -- {{getName(event.staff3)}}</li>
			{% endif %}
		</ul>
		
		{% endif %}
			
		
	{% endif %}

{% endblock %}
