{% extends "base.html" %}

{% block title %} {{event.eventname}} - {{ super() }} {% endblock %}

{% block body %}

	{% if event == [] %}
		<h4>Event Not Found. This shouldn't happen</h4>
	{% else %}
		<h2>{{event.eventname}}</h2>
		
		<h3>Event Date: {{event.date.strftime('%d %B, %y')}}</h3>
		<br/>
		
		<h3>Client: {{ getName(event.client) }}<h3>
			
		{% if event.staff1 == None and event.staff2 == None and event.staff3 == None %}
			<h3>No staff scheduled</h3>
		{% else %}
			<h4>Currently scheduled employees:</h4>
		{% endif %}
		
		<ul>
			<li>
			{% if event.staff1 != None %}
				{#event.staff1#}{{getName(event.staff1)}}</li>
			{% endif %}
			</li>
			<li>
			{% if event.staff2 != None %}
				{#event.staff2#}{{getName(event.staff2)}}
			{% endif %}
			</li>
			<li>
			{% if event.staff3 != None %}
				{#event.staff3#}{{getName(event.staff3)}}
			{% endif %}
			</li>
		</ul>			
		
		{% if event.staff1 == None or event.staff2 == None and event.staff3 == None %}
			<h6><a href="{{url_for('eventsign', eid=event.id)}}">Signup for this event</a></h6>
		{% endif %}
		
	{% endif %}

{% endblock %}
