{% extends "base.html" %}

{% block title %}ALL events! - {{ super() }}{% endblock %}

{% block body %}

	{% if events == [] %}
		<h4>No Pending Events</h4>
	{% else %}
		<h3>Pending Events </h3>
	
		<ul>
		{% for i in events %}
			<li><a class="event-list" href="{{url_for('event', eid=i.id)}}">{{ i['eventname'] }}</a>{{ i['date'] }}</li>
			
			{% if i['staff1'] == None and i['staff2'] == None and i['staff3'] == None %}
			No staff
			{% endif %}
			
		{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
